.hero {
  background-color: #0d1228;
  color: #fff;
  padding: 100px 0;
  text-align: center;
}

.container {
  width: 100%;
  height: 15%;
background: black;
}

h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.cta-button {
  padding: 5px 10px;
  background-color: #f0b90b;
  border: none;
  border-radius: 2px;
  font-size: 1.2rem;
  color: #000;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #e0a70a;
}
